<h2>Post</h2>

<mat-list *ngFor="let post of posts; let i = index" [attr.data-index]="i">
    
        <mat-list-item>
            <p class="title-post" mat-line>
                {{post.title}}
            </p>
            <p mat-line>
                <a routerLink="/post/{{post.id}}">
                    Modifica
                </a>    
            </p>
            <div *ngIf="post.is_published; else depublish">
                <button mat-raised-button color="primary" style="margin-right: 12px;">Depubblica</button>
            </div>    
            <ng-template #depublish>
                <button mat-raised-button color="primary" style="margin-right: 12px;">Pubblica</button>
            </ng-template>
            <button mat-raised-button color="accent" style="float: right;" (click)="deletePost(i)" >Elimina</button>
        </mat-list-item>
        <mat-divider></mat-divider>
    
</mat-list> 




